.centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapSize {
  display: none;
  width: 700px; height: 500px;
}

.custom-navbar {
  background-color: #e3f2fd;
  margin-top: 5px;
  margin-bottom: 15px;
}